SALT_KEY=fk/ykD"~tIg<u'T7@}B()'<"vIEB?uI3;EK*}ZBQ6>XDEEEE-aaasdaaa-CT5-<CT-Eum-&?&@:*xMC0pJ9V
USER_KEY=root //usuario do seu bando de dados
PASSWORD_KEY= 1235 // senha do usuario do banco de dados
DATABASE_KEY=boletosinter // nome do banco de dados
HOST_KEY=localhost // ip ou host do banco
CNPJ_RECEBEDOR=0000000000000 // cnpj cadastrado na plataforma inter
CONTACORRENTE=0000000 // numero da conta corrente
